:root {
    /* HEX codes for palellet from https://coolors.co/bfb48f-564e58-904e55-f2efe9-252627 */
    --ecru: #bfb48fff;
    --dark-liver: #564e58ff;
    --cordovan: #904e55ff;
    --isabelline: #f2efe9ff;
    --raisin-black: #252627ff;
}

html {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--raisin-black);
}

main {
    background-color: var(--ecru);
    padding: 1rem;
    margin: 1rem;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding: 1rem;
    color: var(--isabelline);
}

dl {
    text-align: left;
    margin-left: 20%;
}

dd {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

dt {
    font-weight: bold;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
}

#hangmanSpot {
    margin-top: 1rem;
    border: 2px black solid;
    border-radius: 6px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: var(--isabelline);
}

#previousGuesses {
    color: red;
}

@media screen and ( min-width: 600px ) {
    
    body {
        width: 600px;
        margin: auto;
    }
}